In [ ]:
name= input("enter your name: ")
print("Hello",name)
print("Hello","world",sep=",",end = "!\n")

enter your name: pramod
Hello pramod
Hello,world!

In [ ]:
name= input("enter your name: ")
print("Hello",name)
print("Hello","world",end="!\n")

enter your name: pramod
Hello pramod
Hello world!

In [ ]:
#function to find max of three numbers
def max_of_three(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c
print(max_of_three(5,6,3))

6

In [ ]:
#default argument
def greeting(name="pramod"):
  print("hello",name + "!")
greeting()

hello pramod!

In [ ]:
#variable arguments
def num_sum(*nums):
  return sum(nums)
print(num_sum(2,-4,-8,9,12))

11

In [ ]:
#keyword arguments
def info(name, age,**kwargs ):
  print(f"name: {name}, age: {age}")
  for key, value in kwargs.items():
    print(f"{key}: {value}")
info("Pramod", 20, city="visakahapatnam", job="Engineer")

name: Pramod, age: 20
city: visakahapatnam
job: Engineer

In [ ]:
#lambda function
add = lambda x,y: x+y
print(add(8,12))

20

In [ ]:
#recursion
def factorial(n):
  if n==0:
    return 1
  else:
    return n* factorial(n-1)
print(factorial(4))

24

In [ ]:
#nested function
def outer_function(x):
  def inner_fuction(y):
    return y*4
    return inner_function(x)
result = outer_function(9)
print(result)

None

In [ ]:
#map function triple
num=(1,2,3,4,5)
output=map(lambda x:x+x+x,num)
print(list(output))

[3, 6, 9, 12, 15]

In [ ]:
#calculating the area
def calculate_area(shape, dimensions):
    if shape == "rectangle":
        length, breadth = dimensions
        return length * breadth
    elif shape == "circle":
        radius, = dimensions
        return 3.14 * radius ** 2
    else:
        return "Invalid shape"
def user_input():
  print("1. Rectangle")
  print("2. Circle")
  choice = int(input("choice: "))
  if choice == 1:
    shape="rectangle"
    length = float(input(""))
    breadth = float(input(""))
    dimensions = (length, breadth)
  else:
    choice == 2
    shape = "circle"
    radius = float(input(""))
    dimensions = (radius,)
  return shape,dimensions
if __name__ =="__main__":
  shape,dimensions = user_input()
  area = calculate_area(shape,dimensions)
  print(area)

1. Rectangle
2. Circle
choice: 1
2
3
6.0

In [ ]:
def reverse_words(text: str)->str:
  words = text.split()
  reversed_words = words[::-1]
  reversed_text = " ".join(reversed_words)
  return reversed_text
input_text = "Hello world"
result = reverse_words(input_text)
print(result)

world Hello

In [ ]:
def analyze_list(numbers):
  list_of_numbers = int(input(""))
  max_list=[]
  min_list=[]
  average_list=[]
  for i in range(numbers):
    if i>i+1:

In [ ]:
def analyze_list(numbers):
  min_value = min(numbers)
  max_value = max(numbers)
  average_value = sum(numbers) / len(numbers)
  stat={
      "min": min_value,
      "max": max_value,
      "average": average_value
  }
  return stat
number = [1,2,3,4,5,6,7]
result = analyze_list(number)
print(result)

{'min': 1, 'max': 7, 'average': 4.0}

In [ ]:
def analyze_list(numbers):
  min_value = min(numbers)
  max_value = max(numbers)
  average_value = sum(numbers) / len(numbers)
  stat={
      "min": min_value,
      "max": max_value,
      "average": average_value
  }
  return stat
number = [1,1,3,3,4,7,7]
result = analyze_list(number)
print(result)

{'min': 1, 'max': 7, 'average': 3.7142857142857144}