<a href="https://colab.research.google.com/github/Pramuuu/Daily-tasks/blob/main/Day_4_lists_and_tuple_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#count the lowercase letters,list of words
def test(text):
  return sum(map(str.islower, str(text)))
a = ["Red", "Green", "Blue", "White"]
print(test(a))

13

In [ ]:
#append
items = ['apple', 42, 3.14]
print("Original list:", items)
items.append(True)
print("List after adding a boolean:", items)
items.append({"key": "value"})
print("List after adding a dictionary:", items)

In [ ]:
def add_elements(lst, elements):
    for elem in elements:
        lst.append(elem)
    return lst
original_list = ['Python', 'is']
new_elements = ['fun', 'and', 'powerful']
updated_list = add_elements(original_list, new_elements)
print("updated_list : ",updated_list)

updated_list :  ['Python', 'is', 'fun', 'and', 'powerful']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
print("Original list:")
print(fruits)
fruits.insert(1, 'orange')
print("List after inserting 'orange' at the second position:")
print(fruits)

Original list:
['apple', 'banana', 'cherry']
List after inserting 'orange' at the second position:
['apple', 'orange', 'banana', 'cherry']

In [ ]:
nested_list = [[1, 2], [3, 4], [1, 2], [5, 6]]
print(nested_list)
nested_list.remove([1, 2])
print(nested_list)

[[1, 2], [3, 4], [1, 2], [5, 6]]
[[3, 4], [1, 2], [5, 6]]

In [ ]:
#deep copy
import copy
nested_list = [['Red', 'Green'], ['Black']]
print("Original nested list:")
print(nested_list)
deep_copied_list = copy.deepcopy(nested_list)
print("Deep copied nested list:")
print(deep_copied_list)
deep_copied_list[0].append('White')
print("Deep copied list after adding an element:")
print(deep_copied_list)
print(nested_list)

Original nested list:
[['Red', 'Green'], ['Black']]
Deep copied nested list:
[['Red', 'Green'], ['Black']]
Deep copied list after adding an element:
[['Red', 'Green', 'White'], ['Black']]
[['Red', 'Green'], ['Black']]

In [ ]:
numbers = [1, 2, 3]
print("Original list:")
print(numbers)
num_set = {4, 5, 6}
print("Set to add:")
print(num_set)
numbers.extend(num_set)
print("List after extending:")
print(numbers)

Original list:
[1, 2, 3]
Set to add:
{4, 5, 6}
List after extending:
[1, 2, 3, 4, 5, 6]

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print("Original list:")
print(fruits)
try:
    index_nonexistent = fruits.index('apple', 2, 3)
    print("Position of 'apple' within the specified range:")
    print(index_nonexistent)
except ValueError as e:
    print("Error:", e)

Original list:
['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
Error: 'apple' is not in list

In [ ]:
students = [
    {'name': 'Jenny', 'grade': 'A', 'age': 16},
    {'name': 'Tom', 'grade': 'B', 'age': 17},
    {'name': 'Sue', 'grade': 'A', 'age': 15},
    {'name': 'Mike', 'grade': 'B', 'age': 16},
]
students.sort(key=lambda x: (x['grade'], x['age']))
print("\nSorted list of students by grade and age:")
print(students)

Sorted list of students by grade and age:
[{'name': 'Sue', 'grade': 'A', 'age': 15}, {'name': 'Jenny', 'grade': 'A', 'age': 16}, {'name': 'Mike', 'grade': 'B', 'age': 16}, {'name': 'Tom', 'grade': 'B', 'age': 17}]

In [ ]:
numbers = [1, 2, 3, 4, 5]
print("Original List:")
print(numbers)
numbers.reverse()
print("Updated List:")
print(numbers)

Original List:
[1, 2, 3, 4, 5]
Updated List:
[5, 4, 3, 2, 1]

In [ ]:
list_of_lists = [[1, 2], [3, 4], [5, 6]]
print("Original List:")
print(list_of_lists)
list_of_lists.reverse()
print("Updated List:")
print(list_of_lists)

Original List:
[[1, 2], [3, 4], [5, 6]]
Updated List:
[[5, 6], [3, 4], [1, 2]]

In [ ]:
colors = ['Red', 'Green', 'Black']
print("Original list:")
print(colors)
colors *= 0
print("Clearing the said list using *= 0:")
print("New list:", colors)

Original list:
['Red', 'Green', 'Black']
Clearing the said list using *= 0:
New list: []

In [ ]:
colors = ['Red', 'Green', 'Black']
temp = colors
colors.clear()
print("Cleared list:", colors)
print("Reference to original list remains unchanged:", temp)

Cleared list: []
Reference to original list remains unchanged: []

In [ ]:
colors = ['Red', 'Green', 'Orange', 'Pink']
print("Original List:")
print(colors)
return_item_last = colors.pop(-1)
print("Removed last item:", return_item_last)
print("Updated List:", colors)
colors = ['Red', 'Green', 'Orange', 'Pink']
print("\nOriginal List:")
print(colors)
return_item_second_last = colors.pop(-2)
print("Removed second last item:", return_item_second_last)
print("Updated List:", colors)

Original List:
['Red', 'Green', 'Orange', 'Pink']
Removed last item: Pink
Updated List: ['Red', 'Green', 'Orange']

Original List:
['Red', 'Green', 'Orange', 'Pink']
Removed second last item: Orange
Updated List: ['Red', 'Green', 'Pink']

In [2]:
#indexing
color_list = ["Red", "Blue", "Green", "Black"]
print(color_list[0])
print(color_list[3])
print(color_list[-1])
try:
    print(color_list[4])
except IndexError as e:
    print(f"IndexError: {e}")

Red
Black
Black
IndexError: list index out of range

In [3]:
#adding at end
color_list=["Red", "Blue", "Green", "Black"]
print(color_list)
['Red', 'Blue', 'Green', 'Black']
color_list.append("Yellow")
print(color_list)
['Red', 'Blue', 'Green', 'Black', 'Yellow']

['Red', 'Blue', 'Green', 'Black']
['Red', 'Blue', 'Green', 'Black', 'Yellow']

['Red', 'Blue', 'Green', 'Black', 'Yellow']

In [4]:
color_list=["Red", "Blue", "Green", "Black"]
print(color_list)
['Red', 'Blue', 'Green', 'Black']
color_list.insert(2, "White")
print(color_list)
['Red', 'Blue', 'White', 'Green', 'Black']

['Red', 'Blue', 'Green', 'Black']
['Red', 'Blue', 'White', 'Green', 'Black']

['Red', 'Blue', 'White', 'Green', 'Black']

In [5]:
color_list=["Red", "Blue", "Green", "Black"]
print(color_list)
['Red', 'Blue', 'Green', 'Black']
color_list[2]="Yellow"
print(color_list)
['Red', 'Blue', 'Yellow', 'Black']

['Red', 'Blue', 'Green', 'Black']
['Red', 'Blue', 'Yellow', 'Black']

['Red', 'Blue', 'Yellow', 'Black']

In [6]:
color_list=["Red", "Blue", "Green", "Black"]
print(color_list)
['Red', 'Blue', 'Green', 'Black']
color_list.remove("Black")
print(color_list)
['Red', 'Blue', 'Green']

['Red', 'Blue', 'Green', 'Black']
['Red', 'Blue', 'Green']

['Red', 'Blue', 'Green']

In [8]:
#List Slices
tuplex = ()
print (tuplex)
tuplex = ('tuple', False, 3.2, 1)
print (tuplex)
('tuple', False, 3.2, 1)
tuplex = 4, 7, 3, 8, 1
print (tuplex)
(4, 7, 3, 8, 1)
tuplex = 4,
print (tuplex)
(4,)
tuplex = tuple()
print (tuplex)
tuplex = tuple([True, False])
print (tuplex)
(True, False)

()
('tuple', False, 3.2, 1)
(4, 7, 3, 8, 1)
(4,)
()
(True, False)

(True, False)